* {
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: none;
    border: 1px black solid;
}

input[type="submit"]:hover {
  
    background-color: rgb(216, 216, 216);
   
    transition: all 1s;
   
}